*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding:  35px 150px;
    background-size: cover;
    background-image: url('https://www.whereandwhen.net/site/images/illustration/tachkent_575.jpg');
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;

}
.container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hero .country{
    background-color: rgba(128, 128, 128, 0.428);
    padding: 20px 10px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.hero div h2{
    color: white;

}
.hero div h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    padding: 0 250px;
    background-color: rgb(223, 219, 219);
}
main iframe{
    margin-top: 10px;
}
.info p{
    font-size: 25px;
}
.info{
    background-color: white;
    width: 650px;
    border-radius: 5px;
}
.info1{
    font-size: 25px;
    margin-top: 15px;
}
.row1{
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 1px;
    padding: 5px 20px;
}
.icons{
    display: flex;
    align-items: center;
}
.icons img{
    width: 30px;
    height: 30px;
    margin-right: 60px;
}
.rows{
    display: flex;
    cursor: pointer;
}
#sec p{     
    margin-top: 30px;   
    border-bottom: 1px solid grey;  
}   
#sec{   
    width: 650px;   
    cursor: pointer;    
}   
#sec .info2{    
    border-bottom: 1px solid grey;  
    display: flex;  
    justify-content: space-between;     
    padding: 8px 0;     
}       
nav {   
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 16px;
    margin-left: 15px;
}

.footer{
    background-color: rgb(197, 192, 186);
    width: 100%;
    padding: 15px 250px; 
}
.aff{
    text-decoration: none;
    color: rgb(82, 82, 82);

}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}
.end p{
    color: rgb(102, 102, 102);
    
}
button{
    background-color: rgb(213, 205, 205);
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: transparent;
    color: orange;
}